WSCommonServiceFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" xmlns:intf="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:client.CommonServiceFacade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:client.CommonServiceFacade" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSInvokeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="auditManfacResponse">

      <wsdl:part name="auditManfacReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getManufactureOrdersRequest">

      <wsdl:part name="params" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSInvokeException">

      <wsdl:part name="fault" type="tns1:WSInvokeException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getManufactureOrdersResponse">

      <wsdl:part name="getManufactureOrdersReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="auditManfacRequest">

   </wsdl:message>

   <wsdl:portType name="WSCommonServiceFacadeSrvProxy">

      <wsdl:operation name="getManufactureOrders" parameterOrder="params">

         <wsdl:input message="impl:getManufactureOrdersRequest" name="getManufactureOrdersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getManufactureOrdersResponse" name="getManufactureOrdersResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="auditManfac">

         <wsdl:input message="impl:auditManfacRequest" name="auditManfacRequest">

       </wsdl:input>

         <wsdl:output message="impl:auditManfacResponse" name="auditManfacResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSCommonServiceFacadeSoapBinding" type="impl:WSCommonServiceFacadeSrvProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getManufactureOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getManufactureOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.tab.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getManufactureOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="auditManfac">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="auditManfacRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.tab.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="auditManfacResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSCommonServiceFacadeSrvProxyService">

      <wsdl:port binding="impl:WSCommonServiceFacadeSoapBinding" name="WSCommonServiceFacade">

         <wsdlsoap:address location="http://127.0.0.1:56898/ormrpc/services/WSCommonServiceFacade"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
